<!DOCTYPE html>
<html>
<head>
    <title>Mi Formulario</title>
</head>
<body>
    <form action="/misdatos" method="post">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="edad">Edad:</label><br>
        <input type="text" id="edad" name="edad"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>